# Database Configuration
# Copy this file to '.env' and fill in your local details
DB_URL=jdbc:postgresql://localhost:5432/YOUR_DATABASE_NAME
DB_USERNAME=postgres
DB_PASSWORD=YOUR_PASSWORD

# Email Configuration
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-16-character-app-password